{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('assets/css/connexion.css') }}" type="text/css" rel="stylesheet"> #}
{% endblock %}

{% block title %}
	Modifier mon mot de passe
{% endblock %}

{% block body %}


	<div id="modif-psw">
		<h3>Modifier le mot de passe du compte :
			{{ app.user.email }}</h3>
		<hr>
		

		{% if notif %}
			<div class="alert alert-info">
				{{ notif }}</div>
		{% endif %}

		{{form(form)}}

        <p class="annuler-modif"><a  href="{{ path ('account')}}">Annuler</a></p>

		</div>

	{% endblock %}
