{% extends 'base.html.twig' %}

{% block title %}Espace Personnel
{% endblock %}

{% block stylesheets %} <link href="{{asset('assets/css/connexion.css')}}" rel="stylesheet"> {% endblock %}

{% block body %}
	<div id="connexion-form" class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes déjà connecté en tant que : 
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter </h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" placeholder="adresse@mail.fr" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" placeholder="Votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
			        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			        See https://symfony.com/doc/current/security/remember_me.html
			
			        <div class="checkbox mb-3">
			            <label>
			                <input type="checkbox" name="_remember_me"> Remember me
			            </label>
			        </div>
			    #}

			<button class="btn connect btn-lg btn-primary btn-sm" type="submit">
				Se connecter
			</button>
		</form>

    <p  class="lgd-btn"><a href="{{ path ('register')}}">Pas encore de compte? créez votre compte dès maintenant</a></p>

	</div>
{% endblock %}
